/* 样式表 */
  /* 整体样式 */
  body {
    background: url("bg.jpg");
    font-family: Trebuchet MS;
  }
  
  /* 标题样式 */
  h2,h3 {
    font-family: Trebuchet MS;
    color: "#000080";
  }
  h2 {text-align: center;}
  
  /* 普通链接样式 */
  a:link {color: "#800000" 
  }
  a:visited{color: "#008080"} 
  a:active {color: "#808000"}
  
  /* 导航块样式 */ 
  .nav {
    position = absolute;
    width = 10em;
    top = 3em;
    padding-top: 7em;
  }
  
  /* 导航块链接样式 */
  .nav a {
  text-align: center;
  padding: 0.3mm;
  margin: 3mm;
  border: solid black 1px;
  background-color: rgb(50,50,50);
  color: white;
  width: 140px;
  height: 25px;
  text-decoration: none;
  display: block;
  font-family: Trebuchet MS;
  font-size: x-normal;
  }
  .nav a:link{
    color: white;
  }
  .nav a:visited{
    color: white;
  }
  .nav a:hover{color: white;}
  .nav a:active{color: white;}
  .nav a.cur {
    background-color: gray
  }
  
  /* 内容块样式 */
  .content {
    position: relative;
    left: 12em;
    width: 80%;
    min-width: 600px;
  }
  
  /* 分隔线样式 */
  .rule {
    width: 100%;
    height: 10px;
    background-image: url(rule.gif);
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  /* 无序列表样式 */
  ul {
    list-style-image: url("li-tag.gif");
  }
  ul ul{
    list-style-image: url("li-tag2.gif");
  }
  ul li {
    padding-left: 10px;
  }
  ul ul li {
    padding-left: 8px;
  } 
  
  /* 表格 */
  table {
    
  } 
  table th {
  }
  table td {
  }
